.item {
    display: flex;
    
    align-items: center;

    width: 100%;

    padding: 10px 0;
    padding-left: 10px;

    background-color: #FFFFFF;

    border-radius: 5px;
    box-shadow: 3px 3px 7px rgba(0, 0 ,0, 0.2);
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.status {
    width: 15px;
    height: 15px;
    border-radius: 50%;

    margin-right: 10px;
}

.true {
    background-color: #00FF00;
}

.false {
    background-color: #FF0000;
}

.avatar {
    box-sizing: content-box;

    background-color: #f2f0f0;

    padding: 5px;
    margin-right: 10px;

    border: 1px solid #ECECEC;
    border-radius: 10px;    

    box-shadow: 1px 1px 4px rgba(0, 0 ,0, 0.1);
}

.name {
    font-size: 22px;
    font-weight: 600;
    color: #0f0f0f;
}